{% extends "base.html" %}

{% block title %}Available Pets{% endblock %}

{% block content %}
    <h1>Available Pets for Adoption</h1>
    
    <div class="row pets-listing">
        {% for pet in pets %}
        <div class="col-3">
            <a href="{{ url_for('display_edit_pet', pet_id=pet.id) }}">
                <strong>{{ pet.name }}</strong>
            </a> - {{ pet.species }}
            <div>
            {% if pet.photo_url %}
                <img class="img-thumbnail" src="{{ pet.photo_url }}" alt="{{ pet.name }}" width="150">
            {% endif %}
            </div>
            <div>
            {% if pet.available %}
                <span><strong>Available!</strong></span>
            {% else %}
                <span>Not Available</span>
            {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="text-center mt-4">
        <a class="btn btn-primary" href="{{ url_for('add_pet') }}">Add a Pet Form</a>
    </div>
{% endblock %}
